/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.subHeading {
    margin: 6%;
}

.subHeading p {
    text-align: left;
    color: #ff6633;
    font-weight: bold;
}
.subHeading div {
    margin: 6%;
}
